<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Error.master.cs" Inherits="Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>TaskTracker</title>
	<link href="http://localhost:12345/TaskTracker/css/main.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:12345/TaskTracker/images/favicon.png" rel="shortcut icon" />
	<!-- Load Template Main Required Scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/spinner/ui.spinner.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/spinner/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	
	<!-- Load Charts Elements Scripts -->
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/charts/excanvas.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/charts/jquery.sparkline.min.js"></script>
	
	<!-- Load Forms Scripts -->
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/uniform.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/wizard/jquery.form.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/wizard/jquery.form.wizard.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/wizard/jquery.validate.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.inputlimiter.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.validationEngine-en.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.cleditor.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.tagsinput.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/jquery.dualListBox.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/forms/autogrowtextarea.js"></script>
	
	<!-- Load Upload Scripts -->
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/uploader/plupload.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/uploader/plupload.html5.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/uploader/plupload.html4.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/uploader/jquery.plupload.queue.js"></script>
	
	<!-- Load Table Scripts -->
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/tables/datatable.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/tables/tablesort.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/tables/resizable.min.js"></script>
	
	<!-- Load Misc Scripts --> 
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.sourcerer.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.breadcrumbs.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.progress.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.colorpicker.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.collapsible.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.tipsy.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.timeentry.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/ui/jquery.jgrowl.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/calendar.min.js"></script>
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/plugins/elfinder.min.js"></script>
	
	<!-- Scripts Handlers -->
	<script type="text/javascript" src="http://localhost:12345/TaskTracker/js/custom.js"></script>
</head>

<body class="nobg error-page">

<!-- Top Bar Navigation -->
    <div class="top-navigation">
        <div class="wrapper">
            <div class="welcome"><a href="http://localhost:12345/TaskTracker/Default.aspx" title="Home">
            <img src="http://localhost:12345/TaskTracker/images/icons/light/home.png" alt="" /><span>
            Back to Home</a></div>
            <div class="user-navigation">
                <ul>
                    <li><a href="MyProfile.aspx" title=""><img src="http://localhost:12345/TaskTracker/images/user_header.png" alt="" /><span>Profile</span></a></li>
                    <li><a href="Settings.aspx" title=""><img src="http://localhost:12345/TaskTracker/images/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
                    <li><a href="Logout.aspx" title=""><img src="http://localhost:12345/TaskTracker/images/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div> 

<!-- Main content wrapper -->
<div class="error-wrapper">
    <span class="error-id">
        <asp:ContentPlaceHolder ID="error" runat="server" />
    </span>
    <span class="error-description">
        <asp:ContentPlaceHolder ID="description" runat="server" /> 
    </span>
</div>    
    
</body>
</html>