<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyCon" connectionString="Server=tcp:c89eo0s5gu.database.windows.net,1433;Database=TaskTracker;User ID=TaskTracker@c89eo0s5gu;Password=Tracer01;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <customErrors mode="Off" defaultRedirect="http://localhost:12345/TaskTracker/Error.aspx">
      <error statusCode="403" redirect="http://localhost:12345/TaskTracker/403.aspx"/>
      <error statusCode="404" redirect="http://localhost:12345/TaskTracker/404.aspx"/>
      <error statusCode="405" redirect="http://localhost:12345/TaskTracker/405.aspx"/>
      <error statusCode="500" redirect="http://localhost:12345/TaskTracker/500.aspx"/>
      <error statusCode="503" redirect="http://localhost:12345/TaskTracker/503.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>